<template>
  <div class="table-pilots">
    <table class="table text-gray-400 border-separate w-full text-sm">
      <thead class="bg-gray-800 text-gray-200">
        <tr>
          <th class="p-3 text-left">Nombre/Genero</th>
          <th class="p-3 text-center">Naves</th>
          <th class="p-3 text-center">Acciones</th>
        </tr>
      </thead>

      <tbody>

        <tr-pilot
          v-for="(pilot, index) in pilots"
          :key="index"
          :pilot="pilot"
        ></tr-pilot>

      </tbody>

    </table>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import trPilot from "./tr-pilot.vue";

export default {
  components: {
      trPilot
  },
  name: "table-pilots",

  mounted() {
    this.getPilots();
  },

  computed: {
    ...mapState("PilotsModule", ["pilots"])
  },
  methods: {
    ...mapActions("PilotsModule", ["getPilots"]),
  },
  directives: {},
};
</script>