<template>
  <tr class="bg-gray-800 rounded">
    <td class="p-3">
      <div class="flex align-items-center">
        <img
          class="rounded-full h-12 w-12 object-cover"
          :src="`https://ui-avatars.com/api/?name=${pilot.name}&color=7F9CF5&background=EBF4FF`"
          alt="unsplash image"
        />
        <div class="ml-3">
          <div class="">{{ pilot.name }}</div>
          <div class="">{{ pilot.gender }}</div>
        </div>
      </div>
    </td>

    <td class="p-3">
      <div class="grid grid-cols-1 gap-2">
        <span
          v-for="(starship, index) in pilot.starships"
          :key="index"
          class="bg-gray-400 text-gray-50 rounded-md px-2 text-xs text-center"
        >
          {{ starship.name }}
        </span>
      </div>
    </td>
    <td class="p-3 text-center">
      <a
        href="#"
        @click="destroyPilot(pilot.id)"
        class="text-gray-400 hover:text-gray-100 ml-2"
      >
        <i class="material-icons-round text-base text-red-500">delete_outline</i>
      </a>
    </td>
  </tr>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "tr-pilot",
  props: ["pilot"],

  computed: {},
  methods: {
    ...mapActions("PilotsModule", ["deletePilot"]),
    destroyPilot(pilotId){
        this.deletePilot(pilotId);
    }
  },
};
</script>