<template>
  <div class="pilots">
    <table-pilots></table-pilots>
  </div>
</template>

<script>
import tablePilots from "../Components/pilots/table-pilots.vue";

export default {
  components: {
    tablePilots,
  },
  name: "pilots",
};
</script>