<template>
  <div class="starships">
    <table-startships></table-startships>
  </div>
</template>

<script>
import tableStartships from "../Components/starships/table-startships.vue";

export default {
  components: {
    tableStartships,
  },
  name: "starships",
};
</script>