@tailwind base;
@tailwind components;
@tailwind utilities;


.table {
    border-spacing: 0 10px;
}

.nav {

}

.nav a{
    width: 20%;
    padding: 10px;
    background: #1f2937;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.nav .router-link-exact-active{
    opacity: 0.8;
}



/* i {
    font-size: 1rem !important;
}

.table tr {
    border-radius: 20px;
} */
