<template>
  <div class="nav flex gap-5">
    <router-link :to="{ name: 'starships' }">
      <span class="material-icons-outlined text-sm mr-2"> flight_takeoff </span>
      Naves
    </router-link>
    <router-link :to="{ name: 'pilots' }">
      <span class="material-icons-outlined text-sm mr-2">perm_identity</span>
      Pilotos
    </router-link>
  </div>
</template>

<script>
export default {
  name: "navbar",
};
</script>
