<template>
  <div class="modal-add-pilot" v-if="showModal">

    <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">

            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

            <!-- This element is to trick the browser into centering the modal contents. -->
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

            <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
            
            <form @submit.prevent="setPilot()">
              <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                  <div class="sm:flex sm:items-start">
                  <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10">
                    <i class="material-icons-outlined text-base text-green-500">add_circle_outline</i>
                  </div>
                  <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                      <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                      Añadir Piloto ({{starshipSel.name}})
                      </h3>
                      <div class="mt-2">
                      <p class="text-sm text-gray-500">
                          Selecciona un nuevo piloto para {{starshipSel.name}}
                      </p>
                      <select v-model="pilotSel" name="pilot" class="form-select p-2 border-1 border-gray-300 block w-full mt-5">
                          <option value="selecciona" selected hidden>Seleccione un piloto de la lista</option>
                          <option v-for="(pilot , index) in pilots" :key="index" :value="pilot.id" :disabled="starshipSel.pilots.find((p) => p.id === pilot.id )">
                              {{pilot.name}}
                          </option>
                      </select>
                      </div>
                  </div>
                  </div>
              </div>
              <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                  <button type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm">
                  Añadir Piloto
                  </button>
                  <button @click.prevent="closeModal()" type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                  Cancelar
                  </button>
              </div>
            </form>
            
            </div>
        </div>
    </div>

  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  name: "modal-add-pilot",
  data() {
      return {
          showModal: false,
          pilotSel: 'selecciona',
          starshipSel: null,
      }
  },
  mounted() {
    this.getPilots();
  },
  created() {
    Event.$on('show-modal-event', (starship) => {
        this.starshipSel = starship;
        this.openModal();
    });
  },
  computed: {
    ...mapState("PilotsModule", ["pilots"])
  },
  methods: {
      ...mapActions("PilotsModule", ["getPilots"]),
      ...mapActions("StarshipsModule", ["addPilot"]),
      setPilot(){
        if(this.pilotSel === 'selecciona'){
          this.$vToastify.error('Seleccione un piloto.');
        }else{
          this.addPilot({starshipId: this.starshipSel.id , pilotId:this.pilotSel}).then(() => {
            this.pilotSel = 'selecciona';
            this.closeModal();
          });
        }
      },
      openModal(){
        this.showModal = true;
      },
      closeModal(){
        this.showModal = false;
      }
  },
};
</script>


<style scoped>
  .form-select{
    border: 1px solid lightgray;
    border-radius: 5px;
  }
</style>