<template>
  <div class="table-starships">
    <table class="table text-gray-400 border-separate w-full text-sm">
      <thead class="bg-gray-800 text-gray-200">
        <tr>
          <th class="p-3 text-left">Nombre/Modelo</th>
          <th class="p-3 text-left">Precio</th>
          <th class="p-3 text-center">Pilotos</th>
          <th class="p-3 text-center">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr-starship
          v-for="(starship, index) in starships"
          :key="index"
          :starship="starship"
        >
        </tr-starship>
      </tbody>
    </table>
    <modal-add-pilot></modal-add-pilot>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import trStarship from "./tr-starship.vue";
import modalAddPilot from "./modal-add-pilot.vue";

export default {
  components: {
    trStarship,
    modalAddPilot,
  },
  name: "table-starships",
  mounted() {
    this.getStarships();
  },

  computed: {
    ...mapState("StarshipsModule", ["starships"]),
  },
  methods: {
    ...mapActions("StarshipsModule", ["getStarships"]),
  }
};
</script>