<template>
  <tr class="bg-gray-800 rounded">
    <td class="p-3">
      <div class="flex align-items-center">
        <img
          class="rounded-full h-12 w-12 object-cover"
          :src="`https://ui-avatars.com/api/?name=${starship.name}&color=7F9CF5&background=EBF4FF`"
          alt="unsplash image"
        />
        <div class="ml-3">
          <div class="">{{ starship.name }}</div>
          <div class="text-gray-500">{{ starship.model }}</div>
          <div class="text-gray-300 text-xs">{{ starship.manufacturer }}</div>
        </div>
      </div>
    </td>
    <td class="p-3 font-bold">
      <div v-base15="starship.cost_in_credits" class="precio"></div>
    </td>
    <td class="p-3">
      <div class="grid grid-cols-1 gap-2">
        <span
          v-for="(pilot, index) in starship.pilots"
          :key="index"
          class="bg-green-400 text-gray-50 rounded-md px-2 text-xs flex justify-between"
        >
          {{ pilot.name }} <span @click="destroyPilot(starship.id , pilot.id)" class="material-icons-outlined text-xs cursor-pointer destroy-pilot">clear</span>
        </span>
      </div>
    </td>
    <td class="p-3 text-center">
      <a
        href="#"
        class="text-gray-400 hover:text-gray-100 mx-2 add-pilot"
        title="Añadir nuevo piloto"
        @click="addPilot(starship)"
      >
        <i class="material-icons-outlined text-base text-green-500">add_circle_outline</i>
      </a>
    </td>
  </tr>
</template>

<script>
import base15 from "../../Directives/base15";
import { mapActions } from "vuex";

export default {
  name: "tr-starship",
  props: ["starship"],

  computed: {},
  methods: {
    ...mapActions("StarshipsModule", ["deletePilot"]),
    destroyPilot(starshipId , pilotId){
      this.deletePilot({starshipId , pilotId});
    },
    addPilot(starship){
      Event.$emit("show-modal-event" , starship);
    }
  },
  directives: {
    base15,
  },
};
</script>